<script lang="javascript">
	//Удаление по индексу
	//https://stackoverflow.com/questions/5767325/how-can-i-remove-a-specific-item-from-an-array
	//https://svelte.dev/repl/a551a40e90374fd2861255c957123af2?version=3.22.2

	import "bulma/css/bulma.css";
	import iniData from "./store.js";
	import { ini_data, load_ini_data } from "./store.js";

	import Comp1 from "./comp1.svelte";
	import Comp2 from "./comp2.svelte";
	import Comp3 from "./comp3.svelte";

	iniData();

	const comps = [Comp1, Comp2, Comp3];

	let sel = 0;
	const func = (s) => {
		sel = s;
	};

	const change_txt = (t) => {
		txt = t;
	};
	let mydata = 12345;
	let txt;
</script>

<main>
	<!-- <div style="display: flex; height:100%">
		<div style="flex-grow:3;border:1px solid black">111 222</div>
		<div style="flex-grow: 1; border:1px solid blue">111 222</div>
	</div> -->

	<div class="container">
		<div class="header">
			{#if $ini_data.length}
				<div class="groups-wrapper" style="">
					<span>{$ini_data}</span>
				</div>
			{:else}
				<p>000</p>
			{/if}
		</div>
		<div class="content">
			<div class="menu">
				<p>
					<input bind:value={txt} type="text" />
				</p>
				<p on:click={() => (sel = 0)}>menu1</p>
				<p on:click={() => (sel = 1)}>menu2</p>
				<p on:click={() => func(2)}>menu3</p>
			</div>
			{#if $ini_data.length}
				<div class="components">
					<svelte:component
						this={comps[sel]}
						data={$ini_data}
						change_txt_func={change_txt}
					/>
				</div>
			{/if}
		</div>
		<div class="footer">footer</div>
	</div>
</main>

<style>
	.container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
		border: 1px solid gray;
	}
	.content {
		display: flex;
		flex-direction: row;
		/* justify-content: space-between; */
		height: 100%;
	}
	.menu,
	.components {
		border: 1px solid green;
	}
	/* NB!!! */
	.menu {
		flex-grow: 1;
	}
	.components {
		flex-grow: 10;
	}

	.container .header,
	.container .footer {
		height: 40px;
		border: 1px solid blue;
	}

	main {
		height: 100%;
		border: 1px solid red;
	}
</style>
