<script>
    export let data;
    console.log("data", data);
    let gs_sel = {};
    let frm_sel = {};
    let curs_sel = {};
    let curs_by_form = [];

    function on_gschange() {
        console.log("group: ", gs_sel);
    }
    function on_frmchange() {
        console.log("form: ", frm_sel);
        curs_sel = "null";
        curs_by_form = frm_sel.arr;
    }
    function on_curschange() {
        console.log("curs: ", curs_sel);
    }
</script>

<!-- Формы обучения -->
<div>
    <div class="select is-primary sel-wrapp">
        {#if data.length}
            <select
                bind:value={frm_sel}
                on:change={on_frmchange}
                on:blur={null}
            >
                <option value="null" selected disabled
                    >Выберите форму обучения</option
                >
                {#each data as item}
                    <option value={item}>
                        {item.FormEduName}
                    </option>
                {/each}
            </select>
        {/if}
    </div>
</div>

<!-- Курс выбранной формы -->
<div>
    <div class="select is-primary sel-wrapp">
        <select bind:value={curs_sel} on:change={on_curschange} on:blur={null}>
            <option value="null" selected disabled>Выберите курс</option>
            {#each curs_by_form as item}
                <option value={item}>
                    {item.Curs + " курс"}
                </option>
            {/each}
        </select>
    </div>
</div>

<!-- просто пример -->
<div>
    <div class="select is-primary sel-wrapp">
        {#if data.length}
            <select bind:value={gs_sel} on:change={on_gschange} on:blur={null}>
                {#each data[0].arr[2].arr as item}
                    <option value={item}>
                        {item.GSName}
                    </option>
                {/each}
            </select>
        {/if}
    </div>
</div>

<style>
    .sel-wrapp {
        margin: 10px;
        min-width: 253px;
    }
    select {
        min-width: 253px;
    }
</style>
