<script>
    export let change_txt_func;
    export let data;
    let el;
</script>

<h3>TWO - 2</h3>
<input
    value={data}
    bind:this={el}
    on:change={() => change_txt_func(el.value)}
/>
<p>
    <button
        on:click={() => {
            console.log("??", el);
            change_txt_func(el.value);
        }}>CHANGE</button
    >
</p>

<style>
    h3 {
        color: yellow;
    }
</style>
